{{!--<h1> Hello World!</h1>



{{#each burger}}

					<p>{{this.id}}. {{this.burgerName}}<p>
{{/each}}--}}




{{!--<div class="row text-center containerOrder">
<form class="create-update-form" action="/burger/create" method="POST">
    <div class="form-group">
        <label for="burger ">Burger Name:</label>
        <input type="text "id="burger" class="form-control input"   name="name" placeholder="Burger Name">
    </div>
    <button class="btn btn-primary" id="addBurger" type="submit">Order Burger</button>
</form>

</div>--}}


<link async href="http://fonts.googleapis.com/css?family=Warnes" data-generated="http://enjoycss.com" rel="stylesheet" type="text/css"/>
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Frijole" rel="stylesheet">




<div class="container-fluid text-center">

    <div class="jumbotron jumbotron-fluid">
        <div class=" container">
            <h1 class=" neon  display-3"> Burger Eaters 🍔</h1>
        </div>
    </div>

    {{#each burger}} {{#unless this.devoured}}

       
                  <div class = " readytoeat thumbnail col-sm-6 col-md-3">
        
     
   <p class="burgerToEat">  {{this.burgerName}} 🍔 </p>

 <form method="POST" action="/burgers/eat?_method=PUT" class="button-size">
        <input type="hidden" name="eatten" value="{{this.id}}">
        <button  id="eatBurger" "type="submit ">Eat</button>
             </form>
             
             <form action="/burgers/destroy?_method=DELETE" method="POST">

            <input type="hidden" name="id" value="{{this.id}}">
            <button id="sendBack" type="submit ">Destroy</button>
        </form>
</div>
 

                    {{/unless}}


                    
          {{#if this.devoured}}  
          
        <div class = "devoured thumbnail col-sm-6 col-md-3 ">  

            
            <p class="wasted" >EATEN</p>
            
        </div>
            {{/if}}
    {{/each}}




</div>

<div class="row text-center containerOrder">
<form class="create-update-form" action="/burger/create" method="POST">
    <div class="form-group">
        <label for="burger ">Burger Name:</label>
        <input type="text "id="burger" class="form-control input"   name="name" placeholder="Burger Name">
    </div>
    <button class="btn btn-primary" id="addBurger" type="submit">Order Burger</button>
</form>

</div>